html, body #app, #app>div {
	height: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF !important;
}






label2 { 
	color: #ffffff !important;
 }

 label3 { 
	color: #ffffff !important;
 }



.main-section{
	margin: 0 auto !important; 
	margin-top: 100px !important;
	padding: 0 !important;
}

.modal-content{
	background-color: #365E7D !important;
	padding: 0 12px !important;
	border-radius: 20px !important;
	padding-bottom: 20px !important;
}

.user-img img{
	height: 120px !important;
	width: 120px !important;
}

.user-img {
	margin-top: -60px;
	margin-bottom: 25px;
}

.form-group2{
	margin-bottom: 10px !important;
	padding-left: 5px;
}

.form-group3{
	margin-bottom: 10px !important;
	padding-left: 5px;
}

.form-group2 input{

	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 54px !important;

}

.form-group3 input{

	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 54px !important;

}

.form-group2::before{

    font-family: 'Font Awesome\ 5 Free';
    content: "\f007";
	position: absolute !important;
	font-size: 22px;
	left: 45px;
	padding-top: 12.5px;
	color: #4A80AA;
}

.form-group3::before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f023";
	position: absolute !important;
	font-size: 22px;
	left: 45px;
	padding-top: 12.5px;
	color: #4A80AA;
}


/* Colors based on Icon */
.color-cobalt {
	background-color: #365E7D !important;
}
.cobalt-button {
	background-color: #365E7D !important;
	color: #ffffff !important;
	border: 2px solid #365E7D !important;
	border-radius: 8px;
}
.cobalt-button:hover {
	background-color: #ffffff !important;
	color: #365E7D !important;
	border: 2px solid #365E7D !important;
	border-radius: 4px;
}







footer {
	position:absolute;
	margin-top: 100vh;
	bottom: 0;
	width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
	display: none;
}

/* ##### header ##### */
.bd-navbar {
	min-height: 4rem;
	background-color: #365E7D;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}



/* ##### images ##### */
.img-max {
	max-width: 450px;
	width: 100%;
	height: auto;
}

/* ##### general ##### */
* {
	box-sizing: border-box;
}

main {
	padding: 0 2rem;
}

.background{
  background: #ffffff
}

/* ##### Columns ##### */
.column1 {
	float: left;
	width: 50%;
	padding: 10px;
}

/* ##### Rows ##### */
.row {
	margin: 1rem;
}

.row:after {
	padding: 1 0rem;
	content: '';
	display: table;
	clear: both;
}

/* ##### Tables ##### */
.tableWrapper {
	min-height: 800px;
	max-height: 800px;
	overflow: auto;
	scroll-behavior: smooth;
	color:#ffffff;
	height: auto;
	border: dotted #e9984d;
}

.lookup {
	display: inline !important;
	padding: .75rem !important;
	vertical-align: top !important;
	border: none !important;
	text-align: center;
	vertical-align: middle !important;
}


/* ##### Buttons ##### */
button {
	background: #ffffff;
	color: #000000;
	padding: 0.3rem 0.5rem;
	font-size: 0.8rem;
	border: thick double #000000;
	margin: 0.5rem 0.5rem;
	border-radius: 3px;
	outline: none;
}

button:hover {
	background: #4A80AA;
	color: #ffffff;
}

.button {
	background: #ffffff !important;
	color: #4A80AA !important;
	padding: 0.3rem 0.5rem;
	font-size: inherit;
	transition-duration: 0.4s;
	border: outset #4A80AA !important;
	margin: 0.5rem 0.5rem;
	border-radius: 5px;
	outline: none;
}

.button:hover {
	background: #4A80AA !important;
	color: #ffffff !important;
}

#buttonForm {
	background: #ffffff;
	color: #365E7D;
	transition-duration: 0.4s;
	font-size: inherit;
	border-radius: 5px;
	border: solid #365E7D;
	outline: none;
}

.nounderline {
	text-decoration: none !important
}


.navbar-expand .navbar-nav .nav-link > a:hover,
.navbar-brand > a:hover
{
	color: lightgrey !important;
}

/* ##### Search ##### */
header {
	background: #3498db;
	margin-bottom: 2rem;
}

input[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: calc(100% - 2rem);
	height: 2.5rem;
	color:#000000;
}

input[type='password'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: calc(100% - 2rem);
	height: 2.5rem;
	color:#000000;
}

.inputForm[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 61rem;
	height: 3rem;
	color:#000000;
}

.inputFormHalf[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 30rem;
	height: 3rem;
	color:#000000;
}

.inputThird[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 14rem;
	height: 3rem;
	color:#000000;
}

.input38[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 18rem;
	height: 3rem;
	color:#000000;
}

.inputHalf[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 27rem;
	height: 3rem;
	color:#000000;
}

.inputEigth[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 5rem;
	height: 3rem;
	color:#000000;
}

.inputCheckboxes {
	margin: 0.5rem;
}

/* #### Extras #### */

.fontMedium {
	font-size: 1.3rem;
}

.registrationPasswordCheckbox{
	margin-left: 1rem;
}

.break {
	margin: 0.5rem 0rem;
}

.loginPasswordField {
	width: 30;
}

.text-large {
	font-size: 150%;
  }

/* #### Dropdown ####*/

.dropdownbutton:hover .dropdown:hover .dropdown-menu {
	display: block;
  }