body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ##### general ##### */
* {
	box-sizing: border-box;
}

main {
	padding: 0 2rem;
}

.background{
  background: #ffffff
}

/* ##### Columns ##### */
.column1 {
	float: left;
	width: 50%;
	padding: 10px;
}
.column2 {
	padding: 1 0rem;
	float: left;
	width: 50%;
	padding: 20px;
	background-color: #e9984d;
}
.column2_gap{
	float: left;
	width: 50%;
	padding: 5px;
	background-color: #1c5ec0;
}

/* ##### Rows ##### */
.row {
	margin: 1rem;
}

.row:after {
	padding: 1 0rem;
	content: '';
	display: table;
	clear: both;
}

/* ##### Tables ##### */
.tableWrapper {
	min-height: 800px;
	max-height: 800px;
	overflow: auto;
	scroll-behavior: smooth;
	color:#ffffff;
	height: auto;
	border: dotted #e9984d;
}

/* ##### Buttons ##### */
button {
	background: #ffffff;
	color: #000000;
  padding: 0.3rem 0.5rem;
	font-size: 0.8rem;
	border: thick double #000000;
	margin: 0.5rem 0.5rem;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	outline: none;
}

button:hover {
	background: #e9984d;
	color: #1c5ec0;
	border: thick double#1c5ec0;
}

#button {
	background: #ffffff;
	color: #000000;
	padding: 0.3rem 0.5rem;
	font-size: 0.8rem;
	border: thick double #000000;
	margin: 0.5rem 0.5rem;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	outline: none;
}

#button:hover {
	background: #e9984d;
	color: #1c5ec0;
	border: thick double#1c5ec0;
}

/* ##### Search ##### */
header {
	background: #3498db;
	margin-bottom: 2rem;
}

input[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: calc(100% - 2rem);
	height: 3rem;
	color:#000000;
}

input[type="password"]
{
	margin: 0.75rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 30rem;
	height: 3rem;
	color:#000000;
  	-webkit-text-security: disc;
}

.inputForm[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 61rem;
	height: 3rem;
	color:#000000;
}

.inputFormHalf[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 30rem;
	height: 3rem;
	color:#000000;
}

.inputThird[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 14rem;
	height: 3rem;
	color:#000000;
}

.input38[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 18rem;
	height: 3rem;
	color:#000000;
}

.inputHalf[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 27rem;
	height: 3rem;
	color:#000000;
}

.inputEigth[type='text'] {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.3rem;
	border: #000000;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 1rem;
	width: 5rem;
	height: 3rem;
	color:#000000;
}

.inputCheckboxes {
	margin: 0.5rem;
}

/* #### Extras #### */

.fontMedium {
	font-size: 1.3rem;
}

.break {
	margin: 0.5rem 0rem;
}